/* @import "custom"; */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@400&display=swap');


/* // =============== 
// Global Styles
// =============== */


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}

:root {
  --secondaryColor: #1c78c3;
  --assentColor: #012138;
  --actionColor: #c23d09;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-font: 'Lato', sans-serif;
  --transition: all 0.7s ease-in;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fbfbfb;
  color: var(--clr-grey-1);
  line-height: 1.5;
  height: 100vh;
  transition: var(--transition)
}



img {
  width: 100%;
}
video {
  width: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;

}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

header {
  padding: 1rem 0;
}
header .section-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

nav {
  display: none;
}

nav a {
  margin-left: 1.5rem;
  color: #333;
  transition: var(--transition);
}

.nav a:hover {
  color: var(--actionColor);
  font-weight: 600;
}

.menu {
  font-size: 2rem;
  display: block;
}

.logo {
  width: 100px;
  font-family: var(--ff-font);
  margin: 0;
  color: var(--secondaryColor);
}
.logo span {
  color: var(--actionColor);
}

.hero {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.918), rgba(63, 7, 7, 0.685)), url('../public/heroimg.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.course__hero {
  height: 30vh;
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.602), rgba(63, 7, 7, 0.541)), url('../public/courseimg.jpg');
  background-position: top;
  background-size: cover;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem;
  /* margin-top: 3rem; */
}

.course__hero .title {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.hero .text__container {
  width: 100%;
  margin: left;
}



.main_btn {
  border: none;
  padding: 0.9rem 4rem;
  background: var(--actionColor);
  color: #fff;
  border-radius: 6px;
  font-weight: 900;
  margin: 1rem 0;
  transition: all 0.7s ease-in;
  text-transform: uppercase;
}
.main_btn:hover {
  color: #fff;
}

.action__btn {
  text-transform: uppercase;
  background: var(--actionColor);
  text-align: center;
  color: #ffff;
  padding: 0.237rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border-color: transparent;
  transition: all 0.7s ease-in;
}
.action__btn:hover {
  background: #fff;
  color: var(--actionColor);
}


@media screen and (min-width: 980px) {
  .section-center {
    width: 85vw;
  }
  
  header {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
  }
  header .section-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.76), rgba(63, 7, 7, 0.561)), url('../public/heroimg.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    width: 100%;
    padding: 1rem;
  }

  .hero .text__container {
    width: 60%;
    /* margin: left; */
  }

  .course__hero {
    height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.404), rgba(63, 7, 7, 0.328)), url('../public/courseimg.jpg');
    background-position: top;
    background-size: cover;
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 4rem;
    margin-top: 3rem;
  }
  
  .course__hero .title {
    font-family: 'Lato', sans-serif;
    text-align: left;
  }
  
  .hero .container {
    width: 100%;
    margin: left;
    text-align: left;
  }

  nav {
    display: block;
  }

  nav a {
    margin-left: 2rem;
    color: #131212;
    font-size: 1rem;
    transition: var(--transition);
  }
  
  .nav a:hover {
    color: var(--actionColor);
    font-weight: 600;
  }


  .logo {
    width: 100px;
  }

  .menu {
    font-size: 3rem;
    display: none;
  }

}
.text-center {
  text-align: center;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.btn {
  text-transform: uppercase;
  background: var(--secondaryColor);
  text-align: center;
  color: #ffff;
  padding: 0.237rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border-color: transparent;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

.btn__icon {
  font-size: 1.2rem;
  /* color: #f35212; */
}

.title {
  text-align: center;
}
.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.page-100 {
  min-height: calc(100vh - 5rem);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login-section .form {
  /* background: #f6f6f6; */
  padding: 2rem;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  border: solid 1px #333;
  font-size: 1.1rem;
}

.form-control {
  margin-bottom: 1rem;
  text-align: left;
}

.error {
  color: red;
}

.form button {
  width: 100%;
  padding: 7px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: none;
  border: solid 1px #333;
  background: #333;
  color: #fff;
  margin-bottom: 1rem;
}

.default {
  line-height: 5;
  background:#fff;
}



.side__nav {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3rem 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}

.show__sidebar {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.side__nav nav{
  display: block;
  padding-top: 2rem;
}
.side__nav nav a{
  display: block;
  line-height: 2;
  margin-bottom: 2rem;
  /* font-size: ; */
}

.side__nav .close__btn {
  font-size: 2rem;
  color: red;
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.card {
  width: 200px;
  background: #eee;
  padding: 2rem;
}


.service__section {
  margin-top: 6rem;
}

.service__img img{
  height: 280px;
  object-fit: cover;
}

.service__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.service__video {
  position: relative;
  width: 100%;
  /* height: 250px; */
  /* background: #eee;
  object-fit: cover;
  overflow: hidden; */
}


.our__story {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0.822), rgba(63, 7, 7, 0.322)), url('../public/ourstory.jpg');
  background-position: center;
  background-size: cover;
}

.our__story .story__title {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  color: #fff;
}

.who_we_are {
  width: 45%;
  margin-top: 3rem;
  color: #fff;
}

.who_we_are h4 {
  font-family: 'Lato', sans-serif;
}

.why__card {
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 6px;
  margin-top: 2rem;
}

.icon {
  font-size: 3rem;
  color: #8d2323;
  
}

.icon_box {
  width: 80px;
  height: 80px;
  border: solid 1px #8d2323;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.market__card {
  background: #333;
  height: 280px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.699);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.market__card:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.027));
}

.crypto {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.5), rgba(63, 7, 7, 0.144)), url('../public/crypto.jpg');
  background-position: center;
  background-size: cover;
}
.crypto:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(63, 7, 7, 0)), url('../public/crypto.jpg');
  background-position: center;
  background-size: cover;
}
.forex {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.5), rgba(63, 7, 7, 0.144)), url('../public/forex.jpg');
  background-position: center;
  background-size: cover;
}
.forex:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(63, 7, 7, 0)), url('../public/forex.jpg');
  background-position: center;
  background-size: cover;
}
.stock {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.5), rgba(63, 7, 7, 0.144)), url('../public/stock.jpg');
  background-position: center;
  background-size: cover;
}
.stock:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(63, 7, 7, 0)), url('../public/stock.jpg');
  background-position: center;
  background-size: cover;
}
.commodity {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.5), rgba(63, 7, 7, 0.144)), url('../public/commodity.jpg');
  background-position: center;
  background-size: cover;
}
.commodity:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(63, 7, 7, 0)), url('../public/commodity.jpg');
  background-position: center;
  background-size: cover;
}

.team__card {
  /* width: 25rem; */
  margin: auto;
  padding: 10px;
  position: relative;
  /* height: 20rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  object-fit: cover;
  transition: all 0.7s ease-in-out;
}

.team__card .team__img {
  border-radius: 6px;
  /* opacity: 0.9; */
  border-top-left-radius: 10rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease-in-out;
  opacity: 0.8;
}

.team__img:hover {
  opacity: 1;
  border-top-left-radius: 0rem;
}

.team__card .text {
  transition: all 0.7s ease-in-out;
  position: absolute;
  bottom: -4rem;
  padding: 1.5rem 1rem;
  background:rgba(0, 10, 14, 0.924);
  width: 80%;
  height: 11rem;
  color: #ffff;
  border-radius: 6px;
  border-bottom-left-radius: 5rem;
  font-size: 0.8rem;
}

.team__card .text:hover {
  background: #333;
}

.text .username {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

.article__card {
  padding: 1rem;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.article__card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
}

.article__card img {
  height: 200px;

}

.article__img {
  object-fit: cover;
}

.article__card .blog-text {
  margin-top: 1rem;
}

.article__card .blog__title {
  /* font-family: 'Lato', sans-serif; */
  font-weight: 900;
}

.blog__btn {
  margin-top: 4rem;
  text-align: center;
}
.blog__btn a {
  color: #fff;
  background: var(--secondaryColor);
  padding: 0.7rem 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  transition: all 0.7s ease-in; 
}
.blog__btn a:hover {
  padding: 0.7rem 4rem;
  box-shadow: 0 5px 15px rgba(4, 101, 146, 0.863);
}

.customer__card {
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 2rem;
}

.customer__card p{
  font-weight: 500;
  font-size: 1rem;
}


.customer__card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

.customer__card .user {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.user .name {
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: capitalize;
  /* color: #49a6e9; */
  margin-top: 1rem;
}

.footer {
  background: var(--assentColor);
  padding: 2rem 0;

}

.footer form .form-group {
  width: 60%;
  white-space: nowrap;
  border: solid 1px var(--actionColor);
  border-radius: 30px;
}

.sub-title {
  font-weight: 900;
  color: #fff;
}

.footer form .form-group input{
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 10px 30px;
  outline: none;
}

.form-group button {
  border: none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 30px;
  font-weight: 900;
  background: var(--actionColor);
  color: #fff;
}

.footer form .form-group input {
  width: 100%;
}

.icons {
  display: flex;
}

.footer-content {
  color: #fff;
  margin-top: 1rem;
}

.footer-icon {
  color: #8d2323;
  font-size: 1.5rem;
  margin-right: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-in-out;
}

.footer-icon:hover {
  color: #fff;
  background: #8d2323;
}

.small-footer {
  margin: 2rem 0;
  color: #fff;
}
.small-footer a {
  color: #fff;
}

.course__category {
  background: #ffffff;
  border-top-left-radius: 20rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
}

.course__card {
  position: relative;
  background: #fff;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 2rem;
  outline: solid 3px #fff;
  outline-offset: -12px;
  color: #333;
  height: 380px;
  transition: all 0.7s ease-in-out;
}
.course__card:hover {
  margin-top: -0.1px;
}
.course__card img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.course__card .text {
  padding: 1rem;
  /* text-align: ; */
}

.course__card .text p {
  font-size: 1rem
}

.course__card .text .course__title {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem
}

.course_btn {
  background: var(--secondaryColor);
  padding: 0.5rem 2rem;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: all 0.7s ease-in-out;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}

 .course_btn:hover {
  background: #fff;
  color: #ee7708;
}

.section__title {
  width: 50%;
  margin: 1rem left;
}

.section__title h2 {
  font-family: 'Lato', sans-serif;
  color: #333;
}

.underline {
  width: 8rem;
  height: 0.25rem;
  /* background: #49a6e9; */
  background: #1c78c3;
  margin:left;
  margin-bottom: 2rem;
}

.section__title .sub__title {
  text-transform: uppercase;
  font-weight: 900;
  color: #333;
}

.card__title {
  /* background: #161615; */
  padding: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  border-top-left-radius: 50px;
  color: #ee7708;
}

.subscrib__card {
  margin: 4rem 0;
}

.card__icon {
  color: #ee7708;
  font-size: 3rem;
}
.list__icon {
  color: #ee7708;
}

.sub__card {
  background: var(--assentColor);
  text-align: center;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #fff;
  /* border: solid 10px #cace06; */
  outline: solid 4px var(--secondaryColor);
  outline-offset: -15px;
  /* height: 800px; */
}

.sub__card .amount {
  text-align: center;
  margin: 0.3rem 0;
  font-family: var(--ff-font);
}

.sub__card .del {
  font-family: var(--ff-font);
}

.sub__card .amount small {
  font-size: 0.9rem;
}

.sub__card .points {
  padding: 1rem 0;
  line-height: 2rem;
  text-align: left;
}

.sub__card .points li {
  /* border-bottom: solid 1px #b6b6b6; */
  padding: 0 1rem;
  font-size: 0.8rem;
}

.sub__section {
  padding: 2rem 0;
  background: #eee;
  border-top-right-radius: 20rem;
}

.invest__card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 6px;
  border-top-left-radius: 10rem;
  margin-top: 2rem;
}

.invest__card img{
  width: 50%;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10px;
}

.invest__card .invest__text {
  background: #ccc;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.why__optimus .text__container {
  text-align: left;
  margin-top: 2rem;
}

.why__optimus .text__container p {
  font-weight: 900;
  font-size: 1.1rem;
  color: #494949;
}

.why__optimus img {
  margin-top: 3rem;
}

.why__optimus .why__title {
  font-family: 'Lato', sans-serif;
  color: #333;
}

@media screen and (max-width: 980px) {
  .section__title {
    width: 80%;
    margin: 1rem left;
  }
  .service__section {
    width: 100%;
    margin: 1rem auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* padding: 10px; */
    border-radius: 6px;
  }
  .our__story .story__title {
    text-align: center;
    font-size: 2.5rem;
  }
  .service__content {
    margin-bottom: 2rem;
  }
  .service__img {
    margin-top: 2rem;
  }
  .who_we_are {
    width: 90%;
    margin: 3rem auto;
    color: #fff;
  }

  .team__card {
    margin-bottom: 8rem;
    /* width: 10rem; */
  }

  .team__card .text {
    padding: 1rem 2rem;
  }

  .article__card {
    margin-top: 3rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;  
    border-radius: 6px;
  }

  .login-section .form {
    width: 300px;
    margin: auto;
  }

  .invest__card {
    flex-direction: column;
  }

  .invest__card img{
    width: 100%;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 10px;
  }
  
  .invest__card .invest__text {
    background: #ccc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }


  .course__card {
    position: relative;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-top: 2rem;
    outline: solid 3px #fff;
    outline-offset: -12px;
    color: #333;
    height: 450px;
    transition: all 0.7s ease-in-out;
  }
  .course__card:hover {
    margin-top: -0.1px;
  }
  .course__card img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}


